:root {--primary-color: #502712; --secondary-color: #fff; --accent-color: #000;}

@media all {

    body {font: 400 18px/1.3 'PT Sans', sans-serif; position: relative; margin: 0; padding: 0;}
    header, nav, main, section, aside, footer, div {box-sizing: border-box;}

}

@media screen {

    a:focus {outline: 2px solid var(--primary-color); outline-offset: 3px;}
    .views a, footer .icon {outline-color: var(--secondary-color); }
    .image-descr {font-size: 0; width: 0; height: 0;}

    /* Masthead */
    #jump {position: absolute; top: 10px; left: 10px; font-size: 0;}
    #jump:focus {color: #000; display: block; font-size: inherit;}
    #logo {height: 75px; width: 193px; display: block; margin-left: 1px;}
    header form {display: none;}
    header {padding: 30px 0;}
    header nav ul {list-style: none; padding: 0;}
    header nav li {display: block; float: left; padding: 12px 0;}
    header .left-nav li {margin-right: 30px;}
    header .right-nav li{margin-left: 30px;}
    header a {font-size: 16px; color: var(--primary-color);}
    header a:hover {color: #000;}

    main .bar {height: 20px; background: #502712;}
    #hero-1 {background: url(../images/caturra-coffee-hero-image.webp) no-repeat center / cover; min-height: 454px; width: auto;}

    .views {margin: 60px auto 37px;}
    .views h1 {font-weight: 700; font-size: 24px; line-height: 1.3;}
    .views .content {background: var(--primary-color); padding: 40px 20px; height: 280px;}
    .views h1, .views p, .views a {color: var(--secondary-color); text-align: center;}
    .views p {margin-top: 9px; line-height: 1.8;}
    .views a {margin: 29px auto 0; display: block; font-variant: all-small-caps; font-size: 22px;}

    #hero-2 {background: url(../images/caturra-coffee-view-to-street.webp) no-repeat center / cover; min-height: 590px; width: auto;}

    .menu {margin: 62px 0 60px; position: relative;}
    .menu .line {position: absolute; top: 39px; border: 0px solid var(--primary-color); width: 100%; height: 1px; border-width: 1px 0 0; z-index: -1}
    .menu h1 {font-size: 34.5px; color: #fff; background: #502712; padding: 18px 0 24px; font-variant: all-small-caps; text-align: center;}
    .menu-items {margin-top: 21px;}
    .menu h2 {font-size: 27px; color: #502712; margin: 15px 0 0; font-variant: all-small-caps;}
    .menu-items ul {list-style: none; padding: 0;}
    .menu-items li {margin-top: 15px;}
    .menu .container-xl {border-bottom: 1px solid var(--primary-color); padding-bottom: 60px;}

    #chemex img {min-height: 461px; max-width: 709px; display: block; margin: 0 auto;}

    footer {padding: 50px 0 35px; background: #502712; margin-top: 59px; color: var(--secondary-color); font-size: 16px;}
    footer p {margin: 0;}
    footer .hours {margin-top: 16px;}
    .icon {width: 50px; min-height: 52px; display: block; float: left; margin-right: 15px}
    #instagram-icon {background: url(../images/social-media-icons.webp) no-repeat;}
    #twitter-icon {background: url(../images/social-media-icons.webp) no-repeat -65px;}
    #facebook-icon {background: url(../images/social-media-icons.webp) no-repeat -130px;}
    .clear {clear: left;}
    footer p[role*="contentinfo"] {margin-top: 15px;}
}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 1070px) {

    header .left-nav li {margin-right: 20px;}
    header .right-nav li {margin-left: 20px;}

}

@media screen and (max-width: 992px) {

    header {padding-top: 12px;}
    #logo {width: 125px; height: 53px; margin: 18px 0 0 2px;}
    .views {margin-bottom: 90px;}
    .views .content {height: auto; padding-bottom: 60px;}
    footer .col-sm-6:nth-child(n + 3) {margin-top: 30px;}
}

@media screen and (max-width: 783px) {

    header nav {display: none;}
    header form {display: block; margin-top: 30px;}
    header select {width: 100%;}
    header .col-12 {width: 67%;}
    #logo {height: 75px; width: 193px; margin: 20px auto 0;}

}

@media screen and (max-width: 768px) {
    
    .views .col-md-4:nth-child(n + 2) {margin-top: 30px;}

    .menu .container-xl .menu-items:last-child {margin-top: 9px;}
    .menu .container-xl .menu-items:last-child li {margin-top: 14px;}

    #chemex img {min-height: auto; width: 100%;}
    #chemex {padding: 0 15px; display: block;}

}

@media screen and (max-width: 576px) {

    footer {padding-bottom: 50px;}
    footer .row .col-sm-6:nth-child(n + 2) {margin-top: 30px;}
}

@media print {

    body, a {font-size: 15pt; color: #000;}
    h1 {font-size: 20pt;}
    h2 {font-size: 17pt;}
    #jump, header nav, header form, #hero-2, .menu .line {display: none;}

    #logo {color: #000;}
    .views {margin-top: 40px;} 
    .menu {margin-top: 40px;}
    .views .content {margin-top: 20px;}
    .menu ul {list-style: none; padding: 0;}
    .menu {border-bottom: 1px solid #000; padding-bottom: 40px;}

    footer .row div {display: block; width:100%;}
}

