:root {--primary-bg-color: #502712; --secondary-bg-color: #fff; --accent-color: #000;}

@media all {

    body {font: 400 18/1.3 'PT Sans', sans-serif;}

}

@media screen {

}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 1070px) {

}

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 576px) {

}

